body {
  font-family: var(--main-fonts);
  color: var(--main-text-color);
  background-color: var(--background-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
