.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  transition: border-color var(--anim-hover);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__link .icon {
  fill: var(--link-color);
  margin: 0;
  transition: fill var(--anim-hover);
}

.clients__link:focus .icon,
.clients__link:hover .icon {
  fill: var(--accent-color);
}
