.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-accent-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo-special {
  color: var(--accent-color);
}

.adress-link {
  margin-bottom: 9px;
  list-style-type: none;
}

.adress {
  display: inline-block;
}

.adress {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--anim-hover);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-container {
  // display: flex;
  // align-items: baseline;
}

.footer-social {
  margin-top: 60px;
  margin-bottom: 60px;
  // margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.footer-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  & .icon {
    fill: #fff;
    margin: 0;
  }
}

// footer-form

.subscribe {
  margin-left: auto;
}

.footer-form-title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-color);
}

.footer-form-group {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 12px;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: var(--anim-hover);

  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.footer-form-lable {
  display: block;
}

.footer-form-icon {
  fill: var(--background-color);
}
