@media screen and (max-width: 768px) {
  .main-header {
    display: none;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.icon {
  text-decoration: none;
  fill: currentColor;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  gap: 50px;
}

.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-special {
  color: var(--accent-color);
}

.header-nav {
  margin-right: auto;
}

.nav-item {
  list-style-type: none;
}

.nav .studio,
.nav .portfolio {
  color: var(--accent-color);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim-hover);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.nav-link.studio::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav-link.portfolio::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-item {
  margin-bottom: 9px;
  list-style-type: none;
}

.header-contact-item {
  list-style-type: none;
}

.header-contact-item .contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-item:last-child {
  margin-bottom: 0px;
}

.adres-list {
  display: inline-block;
}

.contact {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim-hover);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-container {
  display: flex;
  gap: 50px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
