.portfolio-title-hero {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: var(--anim-hover);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.portfolio-list {
  margin: 0px;
  padding: 0px;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
  list-style-type: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio-item {
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--anim-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}

.overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.portfolio-box {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}

.portfolio-title {
  margin-bottom: 4px;
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
